body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp3601650.jpg");
  padding: 20px;
}
.box {
  padding-top: 300px;
  color: white;
  font-size: 30px;
}
#print {
  margin-top: 20px;
  color: white;
}
#input{
  width: 10%;
  padding:10px;
}
button{
  width: 5%;
  padding: 7px;
  font-size: 18px;
}